<div id='map_profile'>
 <ul>
 </ul>
</div>
<div id="profile_options">
 <select id="profile_image_options">
  <option value="frontispiece" selected="true">Frontispiece</option>
  <option value="nave">Nave</option>
  <option value="floorplan">Floorplan</option>
  <option value="exterior_chevet">Exterior Chevet</option>
  <option value="parametric">Parametric Section</option>
 </select>
 <button class="clearselection purplebutton">Deselect All</button>
 <button class="compare purplebutton">Fullscreen</button>
</div>
<div id="profile_dragbar"></div>