<div id="foundry_space" class="popover_panel">
 <div class="options">
  <select>
   <option>--choose a thing to create--</option>
   <option>Person</option>
   <option>Place</option>
   <option>LexiconEntry</option>
   <option>Publication</option>
   <option>HistoricalEvent</option>
   <option>Collection</option>
   <option>Building</option>
   <option>Note</option>
   <option>Map</option>
  </select>
 </div>
 <div class="form_space" class="">
  <form method="post" action="#"></form>
  <button class="cancel">Close</button>
 </div>
</div>