<div class="padding">
 <div class="examples">
   The Pasteboard allows you to compare all of the Mapping Gothic France churches at once. For example, you can <a href="#line">line up the churches</a> by pressing the Stack button multiple times; or animate the descending heights of churches by stacking them all up like a deck of cards and using your left/right arrow keys to page through the cards. You can also swap out the parametric sections for images of the <a href="#frontispieces">western frontispieces</a>. Click the links in this paragraph to demonstrate.
 </div>
 <div class="imagetypes">
  <button rel="frontispiece">Frontispieces</button>
  <button rel="nave">Naves</button>
  <button rel="exterior_chevet">Exterior Chevet</button>
  <button rel="parametric">Parametric Sections</button>
  <button rel="floorplan">Floorplans</button>
  <button rel="lat_section">Transverse Section</button>
 </div>
 <div class="organizer" class="clear">
  <div class="title">Sort tiles by...</div>
  <button rel="naveHeight">Nave Height</button>
  <button rel="naveWidth">Nave Width</button>
  <button rel="aisleHeight">Aisle Height</button>
  <button rel="aisleWidth">Aisle Width</button>
  <button rel="beg_year" action="reverse">Approx. Construction Start</button>
  <button rel="name">Name</button>
 </div>
 <div class="controls">
  <button class="stack">Stack</button>
  <button class="unstack">Unstack</button>
  <input type="range" class="opacityChanger"/>
  <input type="range" class="sizeChanger"/>
 </div>
 <div id="sectionsHolder">
  <div id="sections"><ul></ul></div>
 </div>
</div>