/* ListComponent */

div.ListComponent { margin-top:0px; }
div.ListComponent.shadowed {
	-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .3);
	-moz-box-shadow: 0 1px 2px rgba(0, 0, 0, .4); }
div.ListComponent h4 { color:#888; margin-top:5px; margin-bottom:5px; font-size:14px;
	font-weight:normal; border-bottom:1px dotted #ddd; }
div.ListComponent p { font-size:10px; line-height:175%; color:#777; margin:5px 0px 10px 0px; }
div.ListComponent li a { display:block; border-bottom:1px dotted #eee; }
div.ListComponent ul li { position:relative; }
div.ListComponent ul li a { font-size:12px; padding:10px 10px 10px 25px; background-color:white; }
div.ListComponent ul li a:hover { background-color:#eee; }
div.ListComponent ul li ul { padding: 5px 5px 5px 10px; }
div.ListComponent ul li ul li a { font-size:10px; padding:8px 8px 8px 25px; }
div.ListComponent li.selected a { }
div.ListComponent li div.edits { display:none; position:absolute; top:3px; right:3px; }
div.ListComponent li:hover div.edits { display:block; }
div.ListComponent span.years { color:#777; font-style:italic; }
div.ListComponent small.citation { color:#777; }

div.ListComponent.simple {
	height: 350px;
	overflow: auto;
}

div.ListComponent.simple ul li.hover { background-color:indianred; }
div.ListComponent.simple ul li a { padding:5px 7px; font-size:10px;
	background-color:rgba(255,255,255,0.7); border-color:#eee; border-bottom-style:solid; }
div.ListComponent.simple ul li a:hover { background-color:white; } 
div.ListComponent.simple span { font-size:10px !important; } 
div.ListComponent.simple em { display:none !important; }

div.ListComponent.verysimple { font-size:12px !important; }
div.ListComponent.verysimple ul li { border:none !important; background-color:none;
    padding:0px; margin-bottom:1px; }
div.ListComponent.verysimple ul li a { padding:5px 10px;
	background-color:rgba(255,255,255,0.7); height:40px; }
div.ListComponent.verysimple ul li span { font-size:11px; font-style:normal;
    border:none; padding:0px !important; }
div.ListComponent.verysimple em { display:none !important; }

div.ListComponent.nonames em { display:none !important; }
div.ListComponent.nonames strong { display:none !important; }

div.ListComponent.small { height:200px; overflow:auto; width:275px;
	position:absolute; bottom:145px; left:15px; background-color:white;
	background-color:rgba(255,255,255,0.8); padding:10px 15px; border:2px solid white; }