<div class="clear">
<div class="controls">
 <div class="list natural">
  <form><input type="text"/></form>
 </div>
 <div class="list buildings" rel="bid">
  <h5>Buildings</h5>
  <form><input type="text"/></form>
  <div class="selections"></div>
 </div>
 <div class="list types" rel="types">
  <h5>Image Types</h5>
  <form><input type="text"/></form>
  <div class="selections"></div>
 </div>
 <div class="list keywords" rel="keywords">
  <h5>Keywords</h5>
  <form><input type="text"/></form>
  <div class="selections"></div>
 </div>
 <div class="boolean" rel="e_or_i">
  <select>
   <option value="">Exteriors &amp; Interiors</option>
   <option value="e">Exteriors only</option>
   <option value="i">Interiors only</option>
  </select>
 </div>
 <div class="boolean" rel="d_or_d">
  <select>
   <option value="">Details and General Views</option>
   <option value="2">Details only</option>
   <option value="1">General views only</option>
  </select>
 </div>
 <div class="boolean" rel="rating">
  <select multiple size=3>
   <option value="" selected>All</option>
   <option value="1">1</option>
   <option value="2">2</option>
   <option value="3">3</option>
   <option value="4">4</option>
   <option value="5">5</option>
  </select>
 </div>
 <button class="search">Search</button>
</div>
<div class="results clear">
</div>
</div>