<div id="main_slide" class="full-holder"></div>
<div id="slide_info"></div>
<div id="dashboard">
 <div id="holder">
  <strong class="pager last"><img src="/media/ui/slideshow/prev_white.png"/></strong>
  <strong class="pager pause"><img src="/media/ui/slideshow/play_white.png" alt="/media/ui/slideshow/pause_white.png"/></strong>
  <strong class="pager next"><img src="/media/ui/slideshow/next_white.png"/></strong>
 </div>
</div>
<a href="#" class="slideshow_close">
 <img src="/media/ui/close.png"/>
</a>