<div class='simple_padding'>
 <ul>
  <li class="title">
   <strong class="skinny">Choose Map Type</strong>
   <ul id='map_types' class="dropdown options"></ul>
  </li>
  <!--<li class="title">
   <strong class="fat">Change Collection</strong>
   <div class="CollectionChooser dropdown"></div>
  </li>-->
  <li class="title">
   <strong class="fat">Historical Maps</strong>
   <ul id='historical_maps' class="dropdown options"></ul>
   <span class="dragger"></span>
  </li>
  <li class="title">
   <strong class="fat">Legend</strong>
   <div class="LegendComponent dropdown"></div>
   <span class="dragger"></span>
  </li>
  <li class="title zoomToSpot">
   <strong class="skinny">Zoom to Building</strong>
  </li>
 </ul>
</div>